<div id="container" class="landingpage">
  <img src="../backgrounds/splash.png" alt="splash page" usemap="#map"/>
  <map name="map">
    <area shape="rect" coords="22, 80, 129, 693" href="/home/login"/>
    <area shape="rect" coords="171, 79, 264, 692" href="/home/register"/>
  </map>
</div>
