<div id="container" class="landingpage">
  <map name="splashmap">
    <area shape="rect" coords="28,86,124,86,117,685,27,687" href="/home/login">
    <area shape="rect" coords="178,86,263,86,269,685,177,687" href="/home/register">
  </map>
</div>
