<div class="loginpage">
  <%= @message %>
  <form action="/home/login" method="post" id="login">
    <input type="text" name="username" placeholder="Username"/><br/>
    <br>
    <input type="password" name="password" placeholder="Password"/><br/>
    <br>
    <button>Login</button>
  </form>
</div>
