<div class="registerpage">
  <%= @message %>
  <form action="/home/register" method="post" id="register">
    <input type="text" name="username" placeholder="Username"/><br/>
    <br>
    <input type="password" name="password" placeholder="Password"/><br/>
    <br>
    <button>Register</button>
  </form>
</div>
